@import url("./navbar.css");

/* General Styles */
.tc {
  text-align: center;
}

.fw6 {
  font-weight: 600;
}

.f-18 {
  font-size: 18px;
}

.display-b {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

.c-000 {
  color: #000;
}

a {
  transition: all 0.2s ease-out;
  color: #1abc9c;
  outline: 0 !important;
  text-decoration: none;
}

a:hover {
  color: #16a085;
}

.bb {
  border-bottom: 1px solid;
}

.w-100 {
  width: 70%;
  padding-left: 50px;
  margin-left: 10px;
}

.c-eeeeee {
  color: #eee;
}

.spacer-bottom-10 {
  margin-bottom: 10px !important;
}

.spacer-top-15 {
  margin-top: 15px !important;
}

.tl {
  text-align: left;
}

.display-ib {
  display: inline-block;
}

.spacer-inner-top-5 {
  padding-top: 5px !important;
}

.spacer-bottom-20 {
  margin-bottom: 20px !important;
}

img {
  vertical-align: middle;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu > div {
  width: 18%;
  margin: 10px;
  flex: 1 1 18%;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: stretch;
  }

  .menu > div {
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  gap: 180px;
}
