body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
  margin: 0;
}

.main {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

h1 {
  color: #52177e;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #52177e;
  width: 50%;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  display: none;
}

#upload-status {
  margin-top: 20px;
  font-size: 16px;
}
