body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  min-height: 100vh;
  background-image: url(./register.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  margin: 0;
}

.main {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

h1 {
  color: #52177e;
}

label {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  color: #555;
  font-weight: bold;
}

input {
  display: block;
  width: 80%;
  margin: 5px auto 15px auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #52177e;
  width: 50%;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  display: none;
}
